nav {
    padding-left : 0px;
    background-color: lightblue;
    text-align: center;
}
nav li {
    display: inline-block; /*other common displays are inline, block and none*/
    padding:10px 20px;
}
nav li:hover {
    background-color: lightpink;
}

nav li a {
    color: white;
    text-decoration: none;
}

table, th, td {
    border: 1px solid;
}

div {
    border: 3px solid blue;
}

.checking-border {
    width: 200px;
    height: 100px;
    background-color: pink;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box; /*makes the widt/height of the 'box' include border-width */
    border-radius: 10%;
    padding-left: 50px;
    padding-top: 20px;
    margin: 100px;
}

.photo {
    display: block;
    width: 50%;
    margin: auto;
}

.some-div {
    width: 80%;
    margin: auto;
}


.caption {
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

fieldset {
    margin: 0 auto;
}
fieldset label {
    display: block;
}
